{embed="include/header"}


<section id="body-content" class="container_12">

	{embed="include/blog_navigation"}
	<aside class="grid_9 omega">
			<h1>Blog</h1>
			{exp:channel:entries channel="blog" paginate="bottom" limit="8"}
			<article class="open-article {if "{url_title}" == "{last_segment}"}single_article{/if}">
				<section class="article-header">
					<div class="date-posted">
						<span class="wht">{entry_date format="%M"}</span>
						<span class="day">{entry_date format="%j"}</span>
						<span class="wht">{entry_date format="%Y"}</span>
					</div>
					<div class="entry-heading">
						{if "{url_title}" == "{last_segment}"}
							<h3>{title}</h3>
						{if:else}
							<h3><a href="/blog/{url_title}">{title}</a></h3>
						{/if}
						{if "categories"}
						<ul class="categories">
							{categories}
								<li><a href="/blog/{category_url_title}">{category_name},</a></li>
							{/categories}
						</ul>
						{/if}
						{if allow_comments}
							<div class="comments">
								<span class="comment-bubble">{comment_total}</span> <a href="/blog/{url_title}#comments">Comments</a>
        			</div>
						{/if}
					</div>
				</section>
				{if "news_image"}
					<img class="blog-image" src="{news_image}"/>
				{if:else}
					<!-- Image -->
				{/if}
				{if "{url_title}" == "{last_segment}"}
					{news_extended}
					<h3>Share:</h3>
					<!-- AddThis Button BEGIN -->
				<div class="addthis_toolbox addthis_default_style" addthis:url="{path=blog/{url_title}}">
				<a class="addthis_button_facebook_like" fb:like:layout="button_count"></a>
				<a class="addthis_button_tweet"></a>
				<a class="addthis_button_google_plusone" g:plusone:size="medium"></a>
				<a class="addthis_counter addthis_pill_style"></a>
				</div>
				<script type="text/javascript" src="http://s7.addthis.com/js/300/addthis_widget.js#pubid=ra-4efb818b1e0d6f67"></script>
				<!-- AddThis Button END -->
				{if:else}
				<p>
					{exp:trunchtml chars="250" inline="_" ending="<a href='{path=blog/{url_title}}'>continue reading</a>" exact="no"}
						{exp:tagstripper:stripAllTags}
							
							{news_body}
							
						{/exp:tagstripper:stripAllTags}
					{/exp:trunchtml}
				</p>
				<!-- AddThis Button BEGIN -->
				<div class="addthis_toolbox addthis_default_style" addthis:url="{path=blog/{url_title}}">
				<a class="addthis_button_facebook_like" fb:like:layout="button_count"></a>
				<a class="addthis_button_tweet"></a>
				<a class="addthis_button_google_plusone" g:plusone:size="medium"></a>
				<a class="addthis_counter addthis_pill_style"></a>
				</div>
				<script type="text/javascript" src="http://s7.addthis.com/js/300/addthis_widget.js#pubid=ra-4efb818b1e0d6f67"></script>
				<!-- AddThis Button END -->
				{/if}
				
				{if "{url_title}" == "{last_segment}"}
					{!-- tags --}
					
					<h3>Tags:</h3>
					{exp:tagger:tags entry_id="{entry_id}"}
		        {if tagger:no_tags}<p>No tags have been attributed to this entry.</p>{/if}
		        <a class="tag" href="/blog/tag/{tagger:urlsafe_tagname}">{tagger:tag_name}</a>,&nbsp;
					{/exp:tagger:tags}
					<br/><br/>
					{!-- comment form --}
					<h3>Comments:</h3>
					<a name="comments"></a>
					
					{exp:comment:entries sort="asc" limit="20"}
						{if no_results} <p>There are no comments on this entry. Feel free to be the first.</p> {/if}
				<p class="comment-info"><span class="name">{name}</span><em class="date">{comment_date format="%m/%d/%Y"}</em></p>
		        <div class="comment">{comment}</div>
		        <hr />
					{/exp:comment:entries}
					
					{exp:comment:form channel="blog" } {!-- preview="channel/preview" --}
						<p class="gsts">Got something to say?</p>
						{if logged_out}
						<table class="logged-out-comment">
							<tr>
								<td>
									<label for="name">Name:</label>
								</td>
								<td>
									<input type="text" name="name" value="{name}" size="50" />
								</td>
							</tr>
							<tr>
								<td>
									<label for="email">Email:</label>
								</td>
								<td>
									<input type="text" name="email" value="{email}" size="50" />
								</td>
							</tr>
							<tr>
								<td>
									<label for="location">Location:</label>
								</td>
								<td>
									<input type="text" name="location" value="{location}" size="50" />
								</td>
							</tr>
							<tr>
								<td>
									<label for="url">URL:</label>
								</td>
								<td>
									<input type="text" name="url" value="{url}" size="50" />
								</td>
							</tr>
						</table>
						{/if}
						
						
						<textarea name="comment" cols="70" rows="10">{comment}</textarea><br />
						<ul class="logged-out-comment">
							<li>
								<label><input type="checkbox" name="save_info" value="yes" {save_info} /> Remember my personal information</label>
							</li>
							<li>
								<label><input type="checkbox" name="notify_me" value="yes" {notify_me} /> Notify me of follow-up comments?</label>
							</li>
						</ul>
						{if captcha}
						  <label for="captcha">Please enter the word you see in the image below:</label><br />
						  <p class="made14">{captcha}<br />
						  <input type="text" name="captcha" value="{captcha_word}" maxlength="20" /></p>
						{/if}
						
						<input type="submit" name="submit" value="Submit" />
						
					{/exp:comment:form}
					
				{/if}
				
			</article> 
 	 		{paginate}
        <p class="pagination">Page {current_page} of {total_pages} pages {pagination_links}</p>
    	{/paginate}
 	 		
 	 		{if "{url_title}" == "{last_segment}"}
 	 			<a class="return" href="/blog"> Return to News </a>
 	 		{/if}
			
			{/exp:channel:entries}
			
	</aside>
</section>

{embed="include/footer"}