{embed="include/header"}


<section id="body-content" class="container_12">

	{embed="include/blog_navigation"}
	<aside class="grid_9 omega">
			<h1>Blog | {exp:url_decode}{segment_3}{/exp:url_decode}</h1>
			
			{exp:tagger:entries tag="{segment_3}" custom_fields="news_body|news_image"}

				{if tagger:no_entries}<p>No entries where found for this tag.</p>{/if}
				
				<article class="open-article">
					<section class="article-header">
						<div class="date-posted">
							<span class="wht">{tagger:entry_date format="%M"}</span>
							<span class="day">{tagger:entry_date format="%j"}</span>
							<span class="wht">{tagger:entry_date format="%Y"}</span>
						</div>
						<div class="entry-heading">
							<h3><a href="/blog/{tagger:entry_url_title}">{tagger:entry_title}</a></h3>
							
							{if allow_comments}
								<div class="comments">
									<span class="comment-bubble">{comment_total}</span> <a href="{comment_path='channel/comments'}">Comments</a>
	        			</div>
							{/if}
						</div>
					</section>
					{if "news_image"}
						<img class="blog-image" src="{tagger:news_image}"/>
					{/if}
					
					<p>{tagger:news_body}</p>
					
				</article> 
			
			{/exp:tagger:entries}
			
	</aside>
</section>

{embed="include/footer"}