<aside class="blog-navigation grid_3 alpha">
	<ul id="category-list" class="boxshadow">
		<li>
			<h2 title="Tags" class="category-headline">Tags</h2>
			
			{exp:tagger:cloud limit="100" backspace="1" min_size="13" max_size="26"}
				<a href="/blog/tag/{tagger:urlsafe_tagname}/" title="{tagger:tag_name}" style="font-size:{tagger:size}px">{tagger:tag_name}</a>,
			{/exp:tagger:cloud}
		</li>
		{!-- <li><h2 title="Archives" class="archive-headline">Archives</h2></li> --}
	</ul>
</aside>