		</div><!--! end of #main -->
	<footer class="footer">
	<section class="container_12">
		<aside class="grid_6 alpha">
				<nav class="nav">
					<ul>
						<li>
							<a href="/sitemap">Site Map</a>
						</li>
						<li>
							<a href="/privacy">Privacy Policy</a>
						</li>
						<li class="last">
							<a target="_blank" href="//facebook.com/pages/Habitat-for-Humanity-of-Delaware-County-PA/151787684863212" class="social fb">&nbsp;</a>
							<a target="_blank" href="//twitter.com/habitatdelco" class="social tw">&nbsp;</a>
							<a target="_blank" href="//youtube.com/user/HabitatForHumanity?ob=0" class="social yt">&nbsp;</a>
						</li>
					</ul>
				
				</nav>
		</aside>
		<aside class="grid_6 omega rgt-aligned">
			<p>Copyright &copy; {current_time format="%Y"} Habitat for Humanity Delaware Country<br />
			<a target="_blank" href="http://www.allwebcafe.com/">Website by allwebcafe</a></p>
		</aside>
	</section>


	</footer>
</div> <!--! end of #container -->

<!-- JQuery tools for image carousel -->
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
<script>window.jQuery || document.write('<script src="/assets/libs/jquery-1.7.1.min.js"><\/script>')</script>
<script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.8.18/jquery-ui.min.js"></script>
<script type="text/javascript" src="{site_url}assets/js/libs/jquery.ui.rcarousel.min.js"></script>


<!-- ALL jQuery Tools. No jQuery library -->
<script src="http://cdn.jquerytools.org/1.2.6/all/jquery.tools.min.js"></script>

<!-- scripts -->
<script src="{site_url}assets/js/plugins.js"></script>
<script src="{site_url}assets/js/script.js"></script>

<!-- end scripts-->

<script>
	//I didn't see an account number so we added the script below
        //var _gaq=[['_setAccount','UA'],['_trackPageview']]; 
	//(function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];g.async=1;
	//g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
	//s.parentNode.insertBefore(g,s)}(document,'script'));
</script>
<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-40649128-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>

<!--[if lt IE 7 ]>
	<script src="//ajax.googleapis.com/ajax/libs/chrome-frame/1.0.2/CFInstall.min.js"></script>
	<script>window.attachEvent("onload",function(){CFInstall.check({mode:"overlay"})})</script>
<![endif]-->
</body>
</html>