<ul id="involved-nav-set" class="boxshadow">
		<li id="donor" class="{if last_segment == "donate"}active{/if}"><a href="/donate">Become A Donor</a></li>
		<li id="volunteer" class="{if last_segment == "volunteer"}active{/if}"><a href="/volunteer">Volunteer Your Time</a></li>
		<li id="partner" class="{if last_segment == "partner"}active{/if}"><a href="/partner">Partner with Us</a></li>
</ul>
