	<ul id="homeowner-nav-set" class="boxshadow">
		<li id="requirements" class="{if last_segment == "homeowner-requirements"}active{/if}"><a href="/homeowner-requirements">Requirements</a></li>
		<li id="apply" class="{if last_segment == "homeowner-apply"}active{/if}"><a href="/homeowner-apply">Apply</a></li>
	</ul>
