<nav class="nav" id="main-navigation">
	<ul>
		<li>
			<a class="{if segment_1 == "who-we-are|our-leadership|our-impact|our-families|our-volunteers|our-partners"}active{/if}" href="{site_url}who-we-are">Who We Are</a>
		</li>
		<li>
			<a class="{if segment_1 == "get-involved|donate|volunteer|partner"}active{/if}" href="{site_url}get-involved">Get Involved</a>
		</li>
		<li class="last">
			<a class="{if segment_1 == "homeowner|homeowner-requirements|homeowner-apply"}active{/if}" href="{site_url}homeowner">Become a Homeowner</a>
		</li>
	</ul>
</nav>
