<nav class="nav" id="top-navigation">
<ul>
		<li><a class="{if segment_1 == ""}active{/if}" href="/">Home</a></li>
		<li><a class="{if segment_1 == "blog"}active{/if}" href="/blog">Blog</a></li>
		<li><a class="{if segment_1 == "restore"}active{/if}" href="/restore">ReStore</a></li>
		<li class="last"><a  class="{if segment_1 == "contact"}active{/if}" href="/contact">Contact Us</a></li>
	</ul>
</nav>