{exp:channel:entries channel="our_families_channel" status="open" dynamic="no" orderby="date" sort="asc"}
	{if no_result}
		<div class="notice"><p>There are no results</p></div>
	{/if}
	{if families_image}
		<a href="ajax/familes/{entry_id}" class="cycle-thumb"><img class="boxshadow" src="{families_image}" alt="{title}" title="{title}" width="142" height="141"/></a>
	{if:else}
		<a href="ajax/familes/{entry_id}" class="cycle-thumb"><img class="boxshadow" src="/assets/img/layout/HH-default_142x141.jpg" alt="{title}" title="{title}" width="142" height="141"/></a>
	{/if}
		
		
{/exp:channel:entries}
