{exp:channel:entries channel="our_partners_channel" status="open" dynamic="no" orderby="date" sort="asc"}
	{if no_result}
		<div class="notice"><p>There are no results</p></div>
	{/if}
		<a href="ajax/partners/{entry_id}" class="cycle-thumb"><img class="boxshadow" src="{partners_image}" alt="{title}" title="{title}" width="142" height="141"/></a>
{/exp:channel:entries}
