{exp:channel:entries channel="our_leadership_channel" status="open" dynamic="no" orderby="date" sort="asc"}
	{if no_results}
		<div class="notice"><p>There are no results</p></div>
	{/if}
	{if leadership_image}
		<a href="ajax/leadership/{entry_id}" class="cycle-thumb"><img class="boxshadow" src="{leadership_image}" alt="{title}" title="{title}" width="142" height="141"/></a>
	{if:else}
		<a href="ajax/leadership/{entry_id}" class="cycle-thumb"><img class="boxshadow" src="/assets/img/layout/HH-default_142x141.jpg" alt="{title}" title="{title}" width="142" height="141"/></a>
	{/if}
{/exp:channel:entries}
