<!-- Perform a Volunteer Search -->
<!-- <form class="volunteer-search"><span><input class="text" name="q" type="text"/><input type="submit" class="submit" value=""/></span></form> -->
<!--End Volunteer Search -->
<section class="volunteer-wall">
	{exp:channel:entries channel="volunteers" status="open" dynamic="no" orderby="date" sort="asc" limit="16" paginate="bottom"}
		{if no_results}
			<div class="notice"><p>There are no volunteers</p></div>
		{/if}
			<aside class="{switch='one|two|three|four'}">
				<a href="ajax/volunteers/{entry_id}" class="volunteer-wall-button">
				{if volunteer_image}
					<img class="boxshadow" src="{volunteer_image}" width="213" height="134" alt="{title}" title="{title}" />
					{if:else}
					<img class="boxshadow" src="/assets/img/layout/HH-default_213x134.jpg" width="213" height="134" alt="{title}" title="{title}" />
				{/if}
				</a>
				<span>{title}</span>
			</aside>
		{if ("{switch="one|two|three|four"}" == "four") OR "{count}" == "{total_results}"}
			<section id="{entry_id}" class="volunteer-description"></section>
		{/if}
	
	{paginate}
        <p class="pagination">Page {current_page} of {total_pages} </p>
  {/paginate}
	{/exp:channel:entries}
</ul>