{embed="include/header"}
	
			<section id="branding" class="container_12">
				
				<div class="branding-bg">
				{exp:channel:entries channel="home_branding" limit="5"}
				    <div class="slide">
						<img src="{large_photo}"/>
						<aside class="branding-txt">
							<h1>{headline}</h1>
							<p>{short_description}</p>
						</aside>
					</div>
				{/exp:channel:entries}
				<nav id="branding-nav" class="branding-nav-wrap">
					<span class="branding-nav-left">
						<a href="" id="branding-previous">&nbsp;</a>
					</span>
					<ul></ul>
					<span class="branding-nav-right">
						<a href="" id="branding-next">&nbsp;</a>
					</span>
				</nav>
				</div>
				
			</section>
			
			<section class="home-sub">
				<section class="container_12">
					<aside class="grid_6 alpha column">
						<h2>Latest Blog</h2>
						<article>
							{exp:channel:entries channel="blog" limit="1"}
							<section class="news-thumb">
								<img src="{exp:cg_fileinfo file="{news_image}"}{thumb}{/exp:cg_fileinfo}" width="78" height="78" alt="{title}" title="{title}" />
							</section>
							<section class="grid_4 omega">
								<h3>{title}</h3>
								<p>
									{exp:tagstripper:stripAllTags}
										{exp:trunchtml chars="180" inline="..." exact="no"}
											{news_body}
										{/exp:trunchtml}
									{/exp:tagstripper:stripAllTags}
								</p>
								<a href="/blog/{url_title}" alt="Read More" title="Read More" class="button read-more">&nbsp;</a>
							</section>
						{/exp:channel:entries}
						</article>
						

					</aside>
					<aside class="grid_6 omega column">
					<img src="/assets/img/layout/HH-donor-home.png" class="donor-img" alt="Become a Donor" title="Become a Donor" />
						<h2>Become a Donor</h2>
						<aside class="grid_3 omega alpha">
						<p>Donate now to transform lives and communities in Delaware County.<br>What will YOU build?</p>
						<a href="/donate" class="button donor">&nbsp;</a>
						</aside>
					</aside>
				</section>
				
				
			
			</section>

	
{embed="include/footer"}