{embed="include/header"}

<section id="body-content" class="container_12">
	<aside class="grid_12">
			<h1>Page Not Found - 404</h1>
			<p>The page you are looking for has moved or no longer exists. Please use the sitemap below to help you find what you are looking for.</p>
			
		<ul>
			<li>
				<a href="{path='site_index}">Home</a></li>
			<li>
				<a href="{path='who-we-are'}">Who We Are</a>
				<ul>
					<li>
						<a href="{path='our-leadership'}">Our Leadership</a></li>
					<li>
						<a href="{path='our-impact'}">Our Impact</a></li>
					<li>
						<a href="{path='our-families'}">Our Families</a></li>
					<li>
						<a href="{path='our-volunteers'}">Our Volunteers</a></li>
					<li>
						<a href="{path='our-partners'}">Our Partners</a></li>
				</ul>
			</li>
			<li>
				<a href="{path='get-involved'}">Get Involved</a>
				<ul>
					<li>
						<a href="{path='donate'}">Become a Donor</a></li>
					<li>
						<a href="{path='volunteer'}">Volunteer Time</a></li>
					<li>
						<a href="{path='partner'}">Partner with Us</a></li>
				</ul>
			</li>
			<li>
				<a href="{path='homeowner'}">Homeowner</a>
				<ul>
					<li>
						<a href="{path='homeowner-requirements'}">Requirements</a></li>
					<li>
						<a href="{path='homeowner-apply'}">Apply</a></li>
				</ul>
			</li>
			<li>
				<a href="{path='blog'}">Blog</a></li>
			<li>
				<a href="{path='restore'}">ReStore</a></li>
			<li>
				<a href="{path='contact'}">Contact</a></li>
			<li>
				<a href="{path='volunteer-wall'}">Volunteer Wall</a></li>
			<li>
				<a href="{path='privacy'}">Privacy</a></li>
		</ul>
	</aside>
</section>

{embed="include/footer"}