{embed="include/header"}
{exp:channel:entries channel="pages"}
<section id="body-content" class="container_12">
	<aside class="grid_12">
			<h1>{title}</h1>
			{body}
				
		
	</aside>
</section>
{/exp:channel:entries}
{embed="include/footer"}