{embed="include/header"}
{exp:channel:entries channel="pages"}
<section id="body-content" class="container_12">
	<aside class="grid_12">
			<h1 class="ie7-hr-fix">{title}</h1>
			
				<!-- Load things Specific to Volunteer Wall -->
				{embed="segments/volunteers_wall" of="{last_segment}"}
	</aside>
</section>
{/exp:channel:entries}
{embed="include/footer"}