{embed="include/header"}
{exp:channel:entries channel="pages"}
<section id="body-content" class="container_12 no-banner">
<aside class="callout grid_3 alpha">
{related_entries id="boxed_callout"}
		{if no_related_entries}{/if}
		<section class="callout-box boxshadow">
			<h2 class="txtshadow">{if visible_title} {visible_title} {if:else} {title} {/if}</h2>
			{content}
		</section>
{/related_entries}
<section class="google-map boxshadow">
				<iframe width="217" height="215" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="http://maps.google.com/maps?f=q&amp;source=s_q&amp;hl=en&amp;geocode=&amp;q=PO+Box+656+23+East+5th+Street+Chester,+PA+19016&amp;aq=&amp;sll=37.0625,-95.677068&amp;sspn=59.119059,125.332031&amp;ie=UTF8&amp;hq=&amp;hnear=23+E+5th+St,+Chester,+Pennsylvania+19013&amp;ll=39.848278,-75.359742&amp;spn=0.007109,0.015299&amp;t=m&amp;z=14&amp;output=embed"></iframe>
	</section>
<a class="google-map-link" target="_blank" href="http://g.co/maps/4t5tz">View Larger Map</a>
</aside>
	<aside class="grid_9 omega">
						<h1>{title}</h1>
			<section>
				<!-- {body} -->
			</section>
			<section class="contact-form">
				{embed="forms/contact"}
			</section>
			
	</aside>
</section>
{/exp:channel:entries}
{embed="include/footer"}