{embed="include/header"}
{exp:channel:entries channel="pages"}
<section class="banner-image">
	<span class="mask"><span class="innermask">&nbsp;</span></span>
	{related_entries id="banner"}
		{if no_related_entries}
			<img src="http://www.placehold.it/960x160" width="960" height="160"/>
		{/if}
			
				<img src="{branding_banner}" width="960" height="160"/>
			
	{/related_entries}
</section>
<section id="body-content" class="container_12">
	<aside class="grid_3 alpha callout">
	{related_entries id="side_navigation"}
	<section class="right-navigation">
		{embed="include/{url_title}"}
	{/related_entries}
	</section>
	{related_entries id="tucked_callout"}
			{if no_related_entries}{/if}
			<section class="callout-tucked">
				<h2>{if clicked_url}<a href="{clicked_url}">{/if}{if visible_title} {visible_title} {if:else} {title} {/if}{if clicked_url}</a>{/if}</h2>
				<p>{exp:tagstripper:stripAllTags}{content}{/exp:tagstripper:stripAllTags}</p>
				
				{if clicked_url}
					<a class="green-arrow" href="{clicked_url}">&nbsp;</a>
				{/if}
			
			</section>
	{/related_entries}
	</aside>
	<aside class="grid_9 omega">
			<h1>{title}</h1>
			<section>
				{body}
			</section>
			{if segment_1 == "donor" }
				<!-- Load things Specific to Donors-->
			
			{/if}
			
			{if segment_1 == "volunteer" }
				<!-- Load things Specific to Volunteers -->
				{embed="forms/volunteer_information"}
			{/if}
			
			{if segment_1 == "partner" }
				<!-- Load things Specific to Partners -->
				{embed="forms/partner_information"}
			
			{/if}
	</aside>
</section>
{/exp:channel:entries}
{embed="include/footer"}