{embed="include/header"}
{exp:channel:entries channel="pages"}
<section id="body-content" class="container_12 no-banner">
<aside class="grid_3 alpha callout">
{related_entries id="boxed_callout"}
		{if no_related_entries}{/if}
		<section class="callout-box boxshadow">
			<h2 class="txtshadow">{if visible_title} {visible_title} {if:else} {title} {/if}</h2>
			{content}
		</section>
{/related_entries}
{related_entries id="tucked_callout"}
		{if no_related_entries}{/if}
		<section class="callout-tucked">
			<h2>{if clicked_url}<a href="{clicked_url}">{/if}{if visible_title} {visible_title} {if:else} {title} {/if}{if clicked_url}</a>{/if}</h2>
			<p>{exp:tagstripper:stripAllTags}{content}{/exp:tagstripper:stripAllTags}</p>
			
			{if clicked_url}
				<a class="green-arrow" href="{clicked_url}">&nbsp;</a>
			{/if}
		
		</section>
{/related_entries}
</aside>
	<aside class="grid_9 omega">
			<h1>{title}</h1>
			<section>
				{body}
			</section>
			
	</aside>
</section>
{/exp:channel:entries}
{embed="include/footer"}