{embed="include/header"}
{exp:channel:entries channel="pages"}
<section class="banner-image">
	<span class="mask"><span class="innermask">&nbsp;</span></span>
	{related_entries id="banner"}
		{if no_related_entries}
			<img src="http://www.placehold.it/960x160" width="960" height="160"/>
		{/if}
			
				<img src="{branding_banner}" width="960" height="160"/>
			
	{/related_entries}
</section>
<section id="body-content" class="container_12">
	<aside class="grid_3 alpha callout">
	{related_entries id="side_navigation"}
	<section class="right-navigation">
		{embed="include/{url_title}"}
	{/related_entries}
	</section>
	{related_entries id="tucked_callout"}
			{if no_related_entries}{/if}
			<section class="callout-tucked">
				<h2>{if clicked_url}<a href="{clicked_url}">{/if}{if visible_title} {visible_title} {if:else} {title} {/if}{if clicked_url}</a>{/if}</h2>
				<p>{exp:tagstripper:stripAllTags}{content}{/exp:tagstripper:stripAllTags}</p>
				
				{if clicked_url}
					<a class="green-arrow" href="{clicked_url}">&nbsp;</a>
				{/if}
			
			</section>
	{/related_entries}
	</aside>
	<aside class="grid_9 omega">
			<h1>{title}</h1>
			<section>
				{body}
			</section>
			{if segment_1 == "our-leadership" }
				<!-- Load things Specific to Our Leadership -->
				<div class="people-contain">
				<div class="people">
{embed="segments/our_leadership"}
				</div>
					<a class="next browse right" id="ui-carousel-next">Next</a>
					<a class="prev browse left" id="ui-carousel-prev">Prev</a>
				</div>
			<section id="leaders" class="cycle-info boxshadow"></section>
			{/if}
			{if segment_1 == "our-families" }
			<!-- Load things Specific to Our Families -->
				<div class="people-contain">
				<div class="people">
{embed="segments/our_families"}
				</div>
					<a class="next browse right" id="ui-carousel-next" style="">Next</a>
					<a class="prev browse left" id="ui-carousel-prev">Prev</a>
				</div>
			<section id="families" class="cycle-info boxshadow"></section>
			{/if}
			{if segment_1 == "our-partners" }
			<!-- Load things Specific to Our Partners -->
				<div class="people-contain">
				<div class="people">
{embed="segments/our_partners"}
				</div>
					<a class="next browse right" id="ui-carousel-next" style="">Next</a>
					<a class="prev browse left" id="ui-carousel-prev">Prev</a>
				</div>				
			<section id="partners" class="cycle-info boxshadow"></section>
			{/if}
	</aside>
</section>
{/exp:channel:entries}
{embed="include/footer"}