/*
 * HTML5 Boilerplate
 *
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */


/* =============================================================================
   HTML5 element display
   ========================================================================== */

article, aside, details, figcaption, figure, footer, header, hgroup, nav, section { display: block; }
audio[controls], canvas, video { display: inline-block; *display: inline; *zoom: 1; }


/* =============================================================================
   Base
   ========================================================================== */

/*
 * 1. Correct text resizing oddly in IE6/7 when body font-size is set using em units
 *    http://clagnut.com/blog/348/#c790
 * 2. Force vertical scrollbar in non-IE
 * 3. Remove Android and iOS tap highlight color to prevent entire container being highlighted
 *    www.yuiblog.com/blog/2010/10/01/quick-tip-customizing-the-mobile-safari-tap-highlight-color/
 * 4. Prevent iOS text size adjust on device orientation change, without disabling user zoom
 *    www.456bereastreet.com/archive/201012/controlling_text_size_in_safari_for_ios_without_disabling_user_zoom/
 */

html { font-size: 100%; overflow-y: scroll; -webkit-overflow-scrolling: touch; -webkit-tap-highlight-color: rgba(0,0,0,0); -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; }

body { margin: 0; font-size: 12px; line-height: 1.231; color:#444; font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; }

body, button, input, select, textarea {}

/* 
 * These selection declarations have to be separate
 * No text-shadow: twitter.com/miketaylr/status/12228805301
 * NOTE: Change to color of site:
 */

::-moz-selection { background: #000; color: #fff; text-shadow: none; }
::selection { background: #000; color: #fff; text-shadow: none; }


/* =============================================================================
   Links
   ========================================================================== */

a { color: #b68a5d; text-decoration: none; }
a:visited { color: #b68a5d; }
a:focus { outline: thin dotted; }

/* Improve readability when focused and hovered in all browsers: people.opera.com/patrickl/experiments/keyboard/test */
a:hover, a:active, a.active { outline: 0; color:#5ca02f; }

/*Custom Styled Buttons*/
.button {background: url('/assets/img/layout/HH-sprite.png') no-repeat;}

.submit {border:none; background-position: 0 -193px; width: 140px; height:40px; text-indent: -9999px; margin: 10px 0;}
	.submit:hover {background-position: -144px -193px;}
.apply {background-position: 0 -239px; width: 135px; height: 42px; display:block; margin: 10px auto; text-indent: -9999px;}
	.apply:hover {background-position: -150px -239px;}
.read-more {background-position:0 0; width: 135px; height: 42px; float:right; *display:inline; }
	.read-more:hover {background-position:-150px 0;}
.donor{background-position:0 -48px; width: 135px; height: 42px; float:left; *display:inline; }
	.donor:hover{background-position:-149px -48px;}

/* =============================================================================
   Typography
   ========================================================================== */

abbr[title] { border-bottom: 1px dotted; }

b, strong { font-weight: bold; }

blockquote { margin: 1em 40px; }

dfn { font-style: italic; }

hr { display: block; height: 1px; border: 0; border-top: 1px solid #ccc; margin: 1em 0; padding: 0; }

ins { background: #ff9; color: #000; text-decoration: none; }

mark { background: #ff0; color: #000; font-style: italic; font-weight: bold; }

/* Redeclare monospace font family: en.wikipedia.org/wiki/User:Davidgothberg/Test59 */
pre, code, kbd, samp { font-family: monospace, monospace; _font-family: 'courier new', monospace; font-size: 1em; }

/* Improve readability of pre-formatted text in all browsers */
pre { white-space: pre; white-space: pre-wrap; word-wrap: break-word; }

q { quotes: none; }
q:before, q:after { content: ""; content: none; }

small { font-size: 85%; }

/* Position subscript and superscript content without affecting line-height: gist.github.com/413930 */
sub, sup { font-size: 75%; line-height: 0; position: relative; vertical-align: baseline; }
sup { top: -0.5em; }
sub { bottom: -0.25em; }

@font-face {
    font-family: 'MuseoSlab500';
    src: url('/assets/fonts/museoslab-500-webfont.eot');
    src: url('/assets/fonts/museoslab-500-webfont.eot?#iefix') format('embedded-opentype'),
         url('/assets/fonts/museoslab-500-webfont.woff') format('woff'),
         url('/assets/fonts/museoslab-500-webfont.ttf') format('truetype'),
         url('/assets/fonts/museoslab-500-webfont.svg#MuseoSlab500') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'MuseoSlab700';
    src: url('/assets/fonts/museoslab-700-webfont.eot');
    src: url('/assets/fonts/museoslab-700-webfont.eot?#iefix') format('embedded-opentype'),
         url('/assets/fonts/museoslab-700-webfont.woff') format('woff'),
         url('/assets/fonts/museoslab-700-webfont.ttf') format('truetype'),
         url('/assets/fonts/museoslab-700-webfont.svg#MuseoSlab700') format('svg');
    font-weight: normal;
    font-style: normal;

}

h1,h2,h3,h4,h5,h6 {line-height: 1.1; margin:2px 0; font-weight: normal;}
h1 {font-size: 24px;  font-family: "MuseoSlab700", sans-serif; color: #314d89; }
h2 {font-size: 18px;  font-family: "MuseoSlab700", sans-serif; color: #314d89;}
h3 {color:#da7601; font-size: 14px; font-family: "MuseoSlab500", sans-serif;}

p {line-height: 1.5;}
/* =============================================================================
   Lists
   ========================================================================== */

ul, ol { margin: 1em 0; padding: 0 0 0 40px; }
ul li {margin-bottom: 6px; line-height: 1.5; }
dd { margin: 0 0 0 40px; }
nav ul, nav ol { list-style: none; margin: 0; padding: 0; }


/* =============================================================================
   Embedded content
   ========================================================================== */

/*
 * Improve image quality when scaled in IE7
 * code.flickr.com/blog/2008/11/12/on-ui-quality-the-little-things-client-side-image-resizing/
 */

img { border: 0; -ms-interpolation-mode: bicubic; }

/*
 * Correct overflow displayed oddly in IE9 
 */

svg:not(:root) {
    overflow: hidden;
}


/* =============================================================================
   Figures
   ========================================================================== */

figure { margin: 0; }


/* =============================================================================
   Forms
   ========================================================================== */

form { margin: 0; }
fieldset { border: 0; margin: 0; padding: 0; }

/* 
 * 1. Correct color not inheriting in IE6/7/8/9 
 * 2. Correct alignment displayed oddly in IE6/7 
 */

legend { border: 0; *margin-left: -7px; padding: 0; }

/* Indicate that 'label' will shift focus to the associated form element */
label { cursor: pointer; }

/*
 * 1. Correct font-size not inheriting in all browsers
 * 2. Remove margins in FF3/4 S5 Chrome
 * 3. Define consistent vertical alignment display in all browsers
 */

button, input, select, textarea { font-size: 100%; margin: 0; vertical-align: baseline; *vertical-align: middle; }

/*
 * 1. Define line-height as normal to match FF3/4 (set using !important in the UA stylesheet)
 * 2. Correct inner spacing displayed oddly in IE6/7
 */

button, input { line-height: normal; *overflow: visible; }

/*
 * 1. Display hand cursor for clickable form elements
 * 2. Allow styling of clickable form elements in iOS
 */

button, input[type="button"], input[type="reset"], input[type="submit"] { cursor: pointer; -webkit-appearance: button; }

/*
 * Consistent box sizing and appearance
 */

input[type="checkbox"], input[type="radio"] { box-sizing: border-box; }
input[type="search"] { -moz-box-sizing: content-box; -webkit-box-sizing: content-box; box-sizing: content-box; }

/* 
 * Remove inner padding and border in FF3/4
 * www.sitepen.com/blog/2008/05/14/the-devils-in-the-details-fixing-dojos-toolbar-buttons/ 
 */

button::-moz-focus-inner, input::-moz-focus-inner { border: 0; padding: 0; }

/* Remove default vertical scrollbar in IE6/7/8/9 */
textarea { overflow: auto; vertical-align: top;}

/* Colors for form validity */
input:valid, textarea:valid {  }
input:invalid, textarea:invalid { }

/*Generic Form */
.form {overflow: hidden; margin: 20px 0; position:relative;}
	.form p {margin-top:0; margin-bottom: 0;}
.row {margin: 0 0 5px 0;}
.row .label {display: block; text-align: left; margin: 5px 10px 5px 0; font-size: 14px; color:#683604; font-family: "MuseoSlab700", sans-serif;}
.form h2 {margin: 10px 0 2px 0;}
.row .text {padding: 2px; border:1px solid #c3b79c; width: 100%; display: block;}
.form .text-area{padding: 2px; border:1px solid #c3b79c; display: block; margin: 5px 0 0 68px;}

.form .txt-area {padding: 2px; border:1px solid #c3b79c; display: block; height: 150px; width: 100%;}

.ck {margin: 0 10px 0 0;}
.rdo {float:left; *display:inline;  margin: 0 10px 5px 0;}
.fk-lbl {float:left; *display:inline; margin: 0 10px 5px 0;}
.border-left {border-left:1px solid #444; padding: 0 0 0 10px; }
.number {text-align: center; font-size: 24px;  font-family: "MuseoSlab700", sans-serif; color: #314d89; padding: 0 0 20px 0; }
.form .help {padding: 10px; margin: 10px 0 0 0; list-style: none;}
.form .help li {overflow: hidden; _height:100%; margin: 0 0 10px 0;}
.strong{font-weight:bold; margin: 10px 0; display: block;}
.form-options {margin: 10px; padding:0; list-style: none;}
.form-options li {margin: 2px 0 5px 0;}

/* error container */
#errors {
	background-color:#163356;
	color:#fff;
	width:400px;
	padding:20px;
	margin:5px auto;
	display:none;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;			
}

/* title */
#errors h2 {
	margin:-5px 0;
	color:yellow;
}

/* error message */
.error {
	height:15px;
	background-color:#FFFE36;
	font-size:11px;
	border:1px solid #E1E16D;
	padding:4px 10px;
	color:#000;
	display:none;	
	
	-moz-border-radius:4px;
	-webkit-border-radius:4px; 
	-moz-border-radius-bottomleft:0;
	-moz-border-radius-topleft:0;	
	-webkit-border-bottom-left-radius:0; 
	-webkit-border-top-left-radius:0;
	
	-moz-box-shadow:0 0 6px #ddd;
	-webkit-box-shadow:0 0 6px #ddd;	
}

.error p {
	margin:0;		
}

/* pure CSS arrow */
.error em {
	display:block;
	width:0;
	height:0;
	border:10px solid;
	border-color:#FFFE36 transparent transparent;

	/* positioning */
	position:absolute;
	bottom:-17px;
	left:37%;
}
/* =============================================================================
   Tables
   ========================================================================== */

table { border-collapse: collapse; border-spacing: 0; }


/* =============================================================================
   Primary styles
   Author: 
   ========================================================================== */
html,body {height:100%;}
body{background: url('/assets/img/layout/HH-body-bg.jpg') repeat top center;}
.bg-full {width:100%;}
header {height: 150px; position: relative; z-index: 9999;}
header {background: url('/assets/img/layout/HH-nav-bg.png') repeat-x top center;}

/*Logo*/
.logo {margin: 30px 0 0 0;}

/* Nav */
.nav ul li{float:left; *display:inline;}
#top-navigation {float:right; *display:inline; margin: 30px 15px 0 0;}
#top-navigation.nav ul li {padding: 0 4px; border-right:1px solid #b68a5d;}
#top-navigation.nav ul li.last {border-right:none;}
#top-navigation.nav a {font-family: "MuseoSlab500", sans-serif; font-size: 14px; margin: 0 5px;}

#main-navigation {float:right; *display:inline; margin: 30px 0 0 0;}
#main-navigation.nav ul li {margin: 0 15px;}
#main-navigation.nav ul li.last {margin-right:0;}
#main-navigation.nav a {font-family: "MuseoSlab700", sans-serif; font-size: 20px;}

/*Buttons*/
.volunteer-bttn {float:right; *display:inline;}

/*Donate page buttons*/
a.donate-link{display: block; position: absolute; top: 350px; *top: 375px; left: 630px; height: 42px; width: 129px; background-position: -4px -48px; text-indent: -9999px;}
a.donate-link:hover{background-position: -153px -48px;}
a.donate-car{display: block; position: absolute; top: 410px; *top: 435px; left: 630px; height: 40px; width: 207px; background-position: -424px -147px; text-indent: -9999px;}
input.donate-link {display: block; height: 42px; width: 129px; background-position: -4px -48px; text-indent: -9000px; text-transform: capitalize; border:none;}
.donate-code {width: 300px; position: absolute; top: 350px; *top: 375px; right:30px;}
.donate-code input[type=text] {border:1px solid #C3B79C; padding: 2px;}

input.donate-link:hover {background-position: -153px -48px;}
a.donate-car:hover{background-position: -424px -200px;}

/* Homepage Branding */
.branding-bg {width:945px; height:324px; margin: 20px 0 0 0; background: url('/assets/img/layout/HH-slidebg.png') no-repeat; position: relative; z-index: 10;}
	.branding-bg .slide {overflow: hidden; width: 945px; height: 304px;}
.branding-bg img {border: 3px solid #e6dcc8; float:left; *display:inline; margin: 21px 0 0 21px;}
.branding-bg .branding-txt {float:right; *display:inline; width:260px; margin: 70px 10px 0 0;}
.branding-bg h1 {font-size: 34px; font-weight: normal; color:#314d89; font-family: "MuseoSlab700", sans-serif;}
.branding-bg p {font-size: 18px; margin: 2px 0; font-family: "MuseoSlab500", sans-serif; color: #4b4b4b;} 
.branding-nav-wrap {position: absolute; bottom:-10px; left:43%; margin: 0 -472px 0 0; *z-index: 1000;}
.branding-nav-wrap ul {height: 33px; background: url('/assets/img/layout/HH-pill-repeat.png') repeat-x top center; float:left; *display:inline; padding: 8px 0 0 0;}
	.branding-nav-wrap ul li a {color:#a3a3a3;}
	.branding-nav-wrap ul li {display: inline; margin: 0 4px;}
	.branding-nav-wrap ul li.activeSlide a {color:#545454;}
.branding-nav-left {width:25px; height: 33px; background: url('/assets/img/layout/HH-pill-left.png') no-repeat top left; float:left; *display:inline; position: relative;}
	.branding-nav-left a {position: absolute; top:10px; left:10px; background: url('/assets/img/layout/HH-sprite.png') no-repeat -316px -10px; display: block; width: 6px; height:12px;}
	.branding-nav-left a:hover {background-position: -316px -27px;}
.branding-nav-right {width:25px; height: 33px; background: url('/assets/img/layout/HH-pill-right.png') no-repeat top right; float:right; *display:inline; *position: absolute; *left: 100px;}
	.branding-nav-right a {position: absolute; top:10px; right:10px; background: url('/assets/img/layout/HH-sprite.png') no-repeat -325px -10px; display: block; width: 6px; height:12px;}
	.branding-nav-right a:hover {background-position: -325px -27px;}

/* Homepage Sub */
.column {position: relative; z-index: 10;}
.home-sub {background: url('/assets/img/layout/HH-home-sub-bg.jpg') repeat-x top center; margin: 20px 0 0 0; border-top:1px solid #968877; padding: 0 0 30px 0; height: 216px;}
.home-sub .column h2{margin: 20px 0 10px 0; font-size: 24px; font-weight: normal; color:#314d89; font-family: "MuseoSlab700", sans-serif;}

/* Homepage News*/
.news-thumb {width: 89px; height:90px; background: url('/assets/img/layout/HH-blog-placeholder.png') no-repeat; float:left; *display:inline;}
.news-thumb img {margin: 6px auto; display: block;}

.donor-img {position: absolute; bottom:-70px; right:-20px;}
img.donor-img {*margin: 0 0 24px 0;}

.rgt-aligned {text-align: right;}
.boxshadow {-webkit-box-shadow: 0px 1px 2px 23px #c8beaa;
-moz-box-shadow: 0px 1px 2px 2px #c8beaa;
box-shadow: 0px 1px 2px 2px #c8beaa;}
ul.boxshadow {*padding: 15px 0 0 0;}
.txtshadow{text-shadow: 0px 1px 2px #c8beaa;
filter: dropshadow(color=#c8beaa, offx=0, offy=1);}

/* Blog */
.blog-navigation {}
.blog-navigation ul {background: url('/assets/img/layout/HH-sidenav-bg.jpg') repeat-y top left; list-style: none; margin: 0; padding: 0; border:1px solid #fff; width: 217px; position: relative; top:0px; z-index: 1000;}
.blog-navigation ul li {margin: 5px;}
/* .blog-navigation ul li a {text-indent: -9999px; display: block; width: 205px; height: 38px; margin: 0; padding: 0;} */
.blog-navigation h2 {background: url('/assets/img/layout/HH-sprite.png') no-repeat; height: 35px; text-indent: -9999px;}
.blog-navigation h2.category-headline {background-position: 0 -308px;}
.blog-navigation h2.archive-headline {background-position: 0 -353px;}
.blog-image {display: block; margin: 5px 0;}

.open-article {clear: both; overflow: hidden; _height:100%; margin: 15px 0; border-bottom:5px solid #f7f0e6;}
.single_article {border-bottom:none !important;}

.return {margin: 20px 0; float:left; *display:inline;}
.open-article h3 {font-size: 20px; border-bottom: 1px solid #d0b597; margin: 0 0 15px 0;}
.open-article .entry-heading {float:right; *display:inline; width: 578px; margin: 0 0 0 40px;}
.open-article .entry-heading h3 a {color:#314D89;}
.open-article .entry-heading h3 a:hover {color:#5CA02F;}
.open-article .article-header {overflow: hidden; _height:100%;}
.date-posted {float:left; *display:inline; width: 70px; background: #ecdcc7; border:1px solid #efe8d9; text-align: center; padding: 5px; -webkit-box-shadow: inset 0px 1px 3px 3px #d6ba9d;
-moz-box-shadow: inset 0px 1px 3px 3px #d6ba9d;
box-shadow: inset 0px 1px 3px 3px #d6ba9d;}
.date-posted span {display: block; font-family: "MuseoSlab700", sans-serif; line-height: 1.2;}
.date-posted .wht {text-transform: uppercase; font-size: 14px; color:#fff;}
.date-posted .day {font-size: 30px; line-height: 1; color:#b68a5d;}

.open-article .categories {list-style: none; margin: 5px 0; padding: 0; float:left; *display:inline; width: 400px;}
.open-article .categories li {display: inline; margin: 0 1px 0 0;}
.open-article .categories li a {font-size: 14px;}

.open-article .comments {float:right; *display:inline; font-size: 14px; font-family: "MuseoSlab700", sans-serif;}
.open-article .comments .comment-bubble {background: url('/assets/img/layout/HH_comment_bubble.png') no-repeat; width: 23px; height:19px; text-align: center; float:left; *display:inline; color:#b68a5d; font-size: 12px; padding: 2px 0 0 0;} 
.open-article .comments a {float:left; *display:inline; margin: 0 0 0 5px;}
.addthis_toolbox {margin: 10px 0;}

/* Callouts */
.callout {position: relative; z-index: 1000;}
.callout .callout-box {position: relative; top:-20px; z-index: 1000; background: url('/assets/img/layout/HH-sidenav-bg.jpg') repeat-y top left; margin: 0; padding: 0; border:1px solid #fff; width: 217px;}
.callout .callout-box h2 {color:#fff; background: url('/assets/img/layout/HH-sprite.png') no-repeat 0 -397px; padding: 5px 0 0 20px; height:30px; margin: 15px 0 0 5px;}
.callout .callout-box p {margin: 10px 0 10px 28px; color:#444448;}
.callout .callout-tucked {background: url('/assets/img/layout/HH-callout_tucked.png') no-repeat; width: 203px; height:105px; position: relative; z-index: 100; top:-24px; left:7px;}
.callout .callout-tucked h2 {color:#559929; font-size: 20px; padding: 10px 15px 0 20px;}
.callout .callout-tucked p {padding: 0 15px 0 20px; display: block; margin: 0; color:#444448;}
.callout .callout-tucked a.green-arrow {position: absolute; bottom:15px; right:10px; background: url('/assets/img/layout/HH-sprite.png') no-repeat -436px -8px; width: 14px; height:14px; display: block;}
.callout .callout-tucked a.green-arrow:hover {cursor: pointer;}

.no-banner .callout .callout-tucked {top:-5px !important;} 

/* Contact Page */
.google-map {margin: 15px 0; border:1px solid #fff;}
.google-map-link  {font-size: 11px; text-align: center;}
.no-banner .callout .callout-box {top:0 !important;}

/* Static Pages */
#body-content {position: relative; padding: 0 0 40px 0;}
.right-navigation {}
.right-navigation ul {background: url('/assets/img/layout/HH-sidenav-bg.jpg') repeat-y top left; list-style: none; margin: 0; padding: 0; border:1px solid #fff; width: 217px; position: relative; top:-20px; z-index: 1000;}
.right-navigation ul li {margin: 5px;}
.right-navigation ul li a {text-indent: -9999px; display: block; width: 205px; height: 35px; margin: 0; padding: 0;}
.banner-image {width: 100%; height: 162px; position: relative; z-index: 10; top:-10px; background: url('/assets/img/layout/HH-banner-dps.png') repeat-x bottom;}
.banner-image .mask {width: 100%; height: 160px; margin: 0 auto; display: block; position: absolute; z-index: 100;}
.banner-image .mask .innermask {width: 980px; height:160px; display: block; margin: 0 auto; background: url('/assets/img/layout/HH-imagemask.png') no-repeat;}
.banner-image img {display: block; margin: 0 auto;/*  position: relative; z-index: 50; */}

/*Who We Are Section Navigation*/
#who-nav-set{*margin: 10px 0 0 0;}
#who-nav-set li a{background: url('/assets/img/layout/HH-sidenavigation.png') no-repeat;}
	#who-nav-set #our-leadership a {background-position: 0 0;}
	#who-nav-set #our-leadership a:hover {background-position: -205px 0;}
	#who-nav-set #our-leadership.active a {background-position: -410px 0;}
	
	#who-nav-set #our-families a {background-position: 0 -41px;}
	#who-nav-set #our-families a:hover {background-position: -205px -41px;}
	#who-nav-set #our-families.active a {background-position: -410px -41px;}
	
	#who-nav-set #our-impact a {background-position: 0 -81px;}
	#who-nav-set #our-impact a:hover {background-position: -205px -81px;}
	#who-nav-set #our-impact.active a {background-position: -410px -81px;}

	#who-nav-set #our-volunteers a {background-position: 0 -121px;}
	#who-nav-set #our-volunteers a:hover {background-position: -205px -121px;}
	#who-nav-set #our-volunteers.active a {background-position: -410px -121px;}

	#who-nav-set #our-partners a {background-position: 0 -161px;}
	#who-nav-set #our-partners a:hover {background-position: -205px -161px;}
	#who-nav-set #our-partners.active a {background-position: -410px -161px;}
	
/*Get Involved Section Navigation*/
#involved-nav-set {*margin: 10px 0 0 0;}
#involved-nav-set li a{background: url('/assets/img/layout/HH-sidenavigation.png') no-repeat;}
	#involved-nav-set #donor a {background-position: 0 -250px;}
	#involved-nav-set #donor a:hover {background-position: -205px -250px;}
	#involved-nav-set #donor.active a {background-position: -410px -250px;}

	#involved-nav-set #volunteer a {background-position: 0 -290px;}
	#involved-nav-set #volunteer a:hover {background-position: -205px -290px;}
	#involved-nav-set #volunteer.active a{background-position: -410px -290px;}
	
	#involved-nav-set #partner a {background-position: 0 -330px;}
	#involved-nav-set #partner a:hover {background-position: -205px -330px;}
	#involved-nav-set #partner.active a {background-position: -410px -330px;}
	
/*Homeowner Section Navigation*/
#homeowner-nav-set {*margin: 10px 0 0 0;}
#homeowner-nav-set li a{background: url('/assets/img/layout/HH-sidenavigation.png') no-repeat;}
	#homeowner-nav-set #requirements a {background-position: 0 -409px;}
	#homeowner-nav-set #requirements a:hover {background-position: -205px -409px;}
	#homeowner-nav-set #requirements.active a {background-position: -410px -409px;}

	#homeowner-nav-set #apply a {background-position: 0 -449px;}
	#homeowner-nav-set #apply a:hover {background-position: -205px -449px;}
	#homeowner-nav-set #apply.active a{background-position: -410px -449px;}


/* Generic Cycle with Content */

.ui-carousel {
	height: 100px;
	margin: 0;
	overflow: auto;
	padding: 0;
	position: relative; /*for ie7 to work e.g in html carousels*/
	width: 300px
}

.ui-carousel > .wrapper {
    margin: 0;
    padding: 0;
    width: 9999px;
}

.ui-carousel > .wrapper > * {
	border: 0;
	display: block;
	float: left;
	height: 100px;
	overflow: hidden;
	width: 100px;	
}

.people {position: relative; left: 28px;}
.people img {border: solid white; border-width: 3px;}
.people img:hover {border-color: #53BF0B;}
.people .active img {border-color:#53bf0b;}
.people a.active .arrow {width: 22px; height:4px; display: block; margin: 0 0 0 -11px; position: relative; z-index: 100; bottom: -12px; *bottom: -16px; left: 50%; background: url('/assets/img/layout/HH-cyclearrow.png') no-repeat;}

.cycle-people {position: relative; padding: 0; margin: 0 35px; overflow: hidden; width: 630px; height: 165px;}
	.cycle-people .people {width:20000em; position:absolute;}
	.cycle-people .people div {float:left; *display:inline; width: 700px;}
	
	.cycle-people .cycle-thumb {width: 148px; height:165px; float:left; *display:inline; margin: 0 0; position: relative;}
	.cycle-people .cycle-thumb .arrow {width: 22px; height:4px; display: block; margin: 0 0 0 -11px; position: absolute; z-index: 100; bottom:0; left:50%; background: url('/assets/img/layout/HH-cyclearrow.png') no-repeat;}
	.cycle-people .cycle-thumb img {border:3px solid #fff;}
	.cycle-people .cycle-thumb:hover img, .cycle-people .cycle-thumb.active img  {border-color:#53bf0b; }

	.next {position: absolute; top:177px; right:8px; width: 31px; height:54px; text-indent: -9999px; background: url('/assets/img/layout/HH-sprite.png') no-repeat -357px -180px;}
	.next:hover {background-position: -357px -237px;}
	.next.disabled {background-position: -357px -294px;}
	
	.prev {position: absolute; top:177px; left:226px; width: 31px; height:54px; text-indent: -9999px; background: url('/assets/img/layout/HH-sprite.png') no-repeat -357px -9px;}
	.prev:hover {background-position: -357px -66px;}
	.prev.disabled {background-position: -357px -123px;}

.cycle-info {background: #fff; display: block; padding: 15px; margin: 0 0 20px 0; position: relative;}
	.cycle-info hgroup {overflow: hidden; _height:100%; padding: 0 0 2px 0;}
		.cycle-info h1 {float:left; *display:inline; width: 620px;}
		.cycle-info .linkedin {float:left; *display:inline; margin: 0 0 0 10px; float: right;} 
	.cycle-info .close-window {position: absolute; top:10px; right:10px; height:19px; width: 19px; display: block; background: url('/assets/img/layout/HH-close.gif') no-repeat;}
a.browse {cursor: pointer;}

#leaders.cycle-info {height: 268px;}
#families.cycle-info {height: 230px;}
#partners.cycle-info {height: 280px;}
/* Volunteer Wall */
/* Used below h1 to cover random horizontal line issue in ie7 that affected the top of the aside that contained it. Used same image as background */
h1.ie7-hr-fix {*width: 1000px; *position: relative; *top: -2px; *left: -10px; *padding: 0 0 0 15px; *background: url('/assets/img/layout/HH-body-bg.jpg') repeat -23px -148px;}
.volunteer-wall {margin: 0 auto; padding: 0; list-style: none; overflow:hidden; _height:100%; position: relative;}
	.volunteer-wall aside {float:left; *display:inline; margin: 5px 10px 5px 5px; position: relative;}
		.volunteer-wall aside a img{border: 3px solid #fff;}
		.volunteer-wall aside a:hover img {border-color:#53bf0b;}
			.volunteer-wall aside span {text-align: center; display: block; height:35px; *width:220px; margin: 0; padding: 10px 0 0 0; font-size: 14px; font-family: "MuseoSlab700", sans-serif;}
			.volunteer-wall aside.exposed span {background: url('/assets/img/layout/HH-sprite.png') no-repeat 0 -126px; height:35px; color:#fff;}
.volunteer-description {clear:both; position: relative; z-index: 9999; background: #fff; display: block; padding: 15px; margin: 0 0 20px 0; width:900px; display: none;}

.volunteer-close {position: absolute; top:10px; right:10px; height:19px; width: 19px; display: block; background: url('/assets/img/layout/HH-close.gif') no-repeat;}

.volunteer-search {position: absolute; z-index: 10; top:10px; right:10px;}
	.volunteer-search span{position: relative; width: 110px;}
.volunteer-search .text {width:100px; padding: 2px 25px 2px 10px; border:1px solid #c3b79c; -webkit-border-radius: 15px;
-moz-border-radius: 15px;
border-radius: 15px;}
.volunteer-search .submit {width: 20px; height:20px; position: absolute; top:1px; right:0; background: url('/assets/img/layout/HH-sprite.png') no-repeat -403px -10px; border:none; text-indent: -9999px;}
.pagination {clear:both;}

/*Footer*/
footer {padding: 10px 0;color:#444; margin:0; border-top:1px solid #968877;}
footer .nav ul li {padding: 0 6px; border-right:1px solid #444;}
footer .nav ul li.last {border-right:none; padding-right:0;}
footer .nav ul li a, footer .nav ul li a:link, footer .nav ul li a:hover {color:#444;}
footer .nav ul li a:hover {text-decoration: underline;}
footer p {margin: 0;}

.social {background: url('/assets/img/layout/HH-sprite.png') no-repeat; width: 16px; height: 16px; margin: 0 5px 0 0; float:left; *display:inline;}
.fb {background-position: -491px -9px;}
.tw {background-position: -491px -34px;}
.yt {background-position: -491px -59px;}

/* =============================================================================
   Blog comments
   ========================================================================== */

table.logged-out-comment{
	width: 500px;
	padding: 0;
	margin: 0 0 10px 0;
	border: 0;
}
table.logged-out-comment label{
	float: left;
	width: 52px;
	color: #6c5135;
}
table.logged-out-comment tr{
	height: 30px;
}
table.logged-out-comment td{
	vertical-align: middle;
}
ul.logged-out-comment li{
	height: 15px;
	list-style: none;
	color: #6c5135;
}
ul.logged-out-comment {
	margin: 5px 0 0 0;
	padding: 0;
}
p.gsts{
	color: #DA7601;
	font-size: 16px;
}
div.comment{
	padding: 0 15px 0 15px;
}
p.comment-info{
	width: 690px;
	overflow: hidden;
	color: #6c5135;
}
p.comment-info em.date{
	float: right;
}
p.comment-info span.name{
	font-weight: bold;
	float: left;
}
label[for="captcha"]{
	color: #6c5135;
}

/* =============================================================================
   Non-semantic helper classes
   Please define your styles before this section.
   ========================================================================== */

/* For image replacement */
.ir { display: block; text-indent: -999em; overflow: hidden; background-repeat: no-repeat; text-align: left; direction: ltr; }
.ir br { display: none; }

/* Hide for both screenreaders and browsers:
   css-discuss.incutio.com/wiki/Screenreader_Visibility */
.hidden { display: none; visibility: hidden; }

/* Hide only visually, but have it available for screenreaders: by Jon Neal.
  www.webaim.org/techniques/css/invisiblecontent/  &  j.mp/visuallyhidden */
.visuallyhidden { border: 0; clip: rect(0 0 0 0); height: 1px; margin: -1px; overflow: hidden; padding: 0; position: absolute; width: 1px; }

/* Extends the .visuallyhidden class to allow the element to be focusable when navigated to via the keyboard: drupal.org/node/897638 */
.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus { clip: auto; height: auto; margin: 0; overflow: visible; position: static; width: auto; }

/* Hide visually and from screenreaders, but maintain layout */
.invisible { visibility: hidden; }

/* Contain floats: nicolasgallagher.com/micro-clearfix-hack/ */ 
.clearfix:before, .clearfix:after { content: ""; display: table; }
.clearfix:after { clear: both; }
.clearfix { zoom: 1; }



/* =============================================================================
   PLACEHOLDER Media Queries for Responsive Design.
   These override the primary ('mobile first') styles
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 480px) {
  /* Style adjustments for viewports 480px and over go here */

}

@media only screen and (min-width: 768px) {
  /* Style adjustments for viewports 768px and over go here */

}


/* =============================================================================
   Print styles.
   Inlined to avoid required HTTP connection: www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */
 
@media print {
  * { background: transparent !important; color: black !important; text-shadow: none !important; filter:none !important; -ms-filter: none !important; } /* Black prints faster: sanbeiji.com/archives/953 */
  a, a:visited { color: #444 !important; text-decoration: underline; }
  a[href]:after { content: " (" attr(href) ")"; }
  abbr[title]:after { content: " (" attr(title) ")"; }
  .ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after { content: ""; }  /* Don't show links for images, or javascript/internal links */
  pre, blockquote { border: 1px solid #999; page-break-inside: avoid; }
  thead { display: table-header-group; } /* css-discuss.incutio.com/wiki/Printing_Tables */
  tr, img { page-break-inside: avoid; }
  img { max-width: 100% !important; }
  @page { margin: 0.5cm; }
  p, h2, h3 { orphans: 3; widows: 3; }
  h2, h3{ page-break-after: avoid; }
}

/* =============================================================================
    ColorBox Core Style:
    The following CSS is consistent between example themes and should not be altered.
   ========================================================================== */
#colorbox, #cboxOverlay, #cbox
{position:absolute; top:0; left:0; z-index:9999; overflow:hidden;}
#cboxOverlay{position:fixed; width:100%; height:100%;}
#cboxMiddleLeft, #cboxBottomLeft{clear:left;}
#cboxContent{position:relative;}
#cboxLoadedContent{overflow:auto;}
#cboxTitle{margin:0;}
#cboxLoadingOverlay, #cboxLoadingGraphic{position:absolute; top:0; left:0; width:100%;}
#cboxPrevious, #cboxNext, #cboxClose, #cboxSlideshow{cursor:pointer;}
.cboxPhoto{float:left; margin:auto; border:0; display:block;}
.cboxIframe{width:100%; height:100%; display:block; border:0;}

/* 
    User Style:
    Change the following styles to modify the appearance of ColorBox.  They are
    ordered & tabbed in a way that represents the nesting of the generated HTML.
*/
#cboxOverlay{background:url(/assets/img/layout/colorbox/overlay.png) repeat 0 0;}
#colorbox{}
    #cboxTopLeft{width:21px; height:21px; background:url(/assets/img/layout/colorbox/controls.png) no-repeat -100px 0;}
    #cboxTopRight{width:21px; height:21px; background:url(/assets/img/layout/colorbox/controls.png) no-repeat -129px 0;}
    #cboxBottomLeft{width:21px; height:21px; background:url(/assets/img/layout/colorbox/controls.png) no-repeat -100px -29px;}
    #cboxBottomRight{width:21px; height:21px; background:url(/assets/img/layout/colorbox/controls.png) no-repeat -129px -29px;}
    #cboxMiddleLeft{width:21px; background:url(/assets/img/layout/colorbox/controls.png) left top repeat-y;}
    #cboxMiddleRight{width:21px; background:url(/assets/img/layout/colorbox/controls.png) right top repeat-y;}
    #cboxTopCenter{height:21px; background:url(/assets/img/layout/colorbox/border.png) 0 0 repeat-x;}
    #cboxBottomCenter{height:21px; background:url(/assets/img/layout/colorbox/border.png) 0 -29px repeat-x;}
    #cboxContent{background:#fff; overflow:hidden;}
        #cboxError{padding:50px; border:1px solid #ccc;}
        #cboxLoadedContent{margin-bottom:28px;}
        #cboxTitle{position:absolute; bottom:4px; left:0; text-align:center; width:100%; color:#949494;}
        #cboxCurrent{position:absolute; bottom:4px; left:58px; color:#949494;}
        #cboxSlideshow{position:absolute; bottom:4px; right:30px; color:#0092ef;}
        #cboxPrevious{position:absolute; bottom:0; left:0; background:url(/assets/img/layout/colorbox/controls.png) no-repeat -75px 0; width:25px; height:25px; text-indent:-9999px;}
        #cboxPrevious.hover{background-position:-75px -25px;}
        #cboxNext{position:absolute; bottom:0; left:27px; background:url(/assets/img/layout/colorbox/controls.png) no-repeat -50px 0; width:25px; height:25px; text-indent:-9999px;}
        #cboxNext.hover{background-position:-50px -25px;}
        #cboxLoadingOverlay{background:url(/assets/img/layout/colorbox/loading_background.png) no-repeat center center;}
        #cboxLoadingGraphic{background:url(/assets/img/layout/colorbox/loading.gif) no-repeat center center;}
        #cboxClose{position:absolute; bottom:0; right:0; background:url(/assets/img/layout/colorbox/controls.png) no-repeat -25px 0; width:25px; height:25px; text-indent:-9999px;}
        #cboxClose.hover{background-position:-25px -25px;}

/*
  The following fixes a problem where IE7 and IE8 replace a PNG's alpha transparency with a black fill
  when an alpha filter (opacity change) is set on the element or ancestor element.  This style is not applied to IE9.
*/
.cboxIE #cboxTopLeft,
.cboxIE #cboxTopCenter,
.cboxIE #cboxTopRight,
.cboxIE #cboxBottomLeft,
.cboxIE #cboxBottomCenter,
.cboxIE #cboxBottomRight,
.cboxIE #cboxMiddleLeft,
.cboxIE #cboxMiddleRight {
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#00FFFFFF,endColorstr=#00FFFFFF);
}

/*
  The following provides PNG transparency support for IE6
*/
.cboxIE6 #cboxTopLeft{background:url(/assets/img/layout/colorbox/ie6/borderTopLeft.png);}
.cboxIE6 #cboxTopCenter{background:url(/assets/img/layout/colorbox/ie6/borderTopCenter.png);}
.cboxIE6 #cboxTopRight{background:url(/assets/img/layout/colorbox/ie6/borderTopRight.png);}
.cboxIE6 #cboxBottomLeft{background:url(/assets/img/layout/colorbox/ie6/borderBottomLeft.png);}
.cboxIE6 #cboxBottomCenter{background:url(/assets/img/layout/colorbox/ie6/borderBottomCenter.png);}
.cboxIE6 #cboxBottomRight{background:url(/assets/img/layout/colorbox/ie6/borderBottomRight.png);}
.cboxIE6 #cboxMiddleLeft{background:url(/assets/img/layout/colorbox/ie6/borderMiddleLeft.png);}
.cboxIE6 #cboxMiddleRight{background:url(/assets/img/layout/colorbox/ie6/borderMiddleRight.png);}

.cboxIE6 #cboxTopLeft,
.cboxIE6 #cboxTopCenter,
.cboxIE6 #cboxTopRight,
.cboxIE6 #cboxBottomLeft,
.cboxIE6 #cboxBottomCenter,
.cboxIE6 #cboxBottomRight,
.cboxIE6 #cboxMiddleLeft,
.cboxIE6 #cboxMiddleRight {
    _behavior: expression(this.src = this.src ? this.src : this.currentStyle.backgroundImage.split('"')[1], this.style.background = "none", this.style.filter = "progid:DXImageTransform.Microsoft.AlphaImageLoader(src=" + this.src + ", sizingMethod='scale')");
}

