{exp:channel:entries channel="our_leadership_channel" status="open" limit="1" entry_id="{segment_3}"}
	<hgroup>
	<h1>{title}</h1>
	{if linked_in_url}
	    <a href="{linked_in_url}" target="_blank" alt="Follow {title} on linkedin.com" title="Follow {title} on linkedin.com"><img src="/assets/img/layout/HH-linkedin.png" class="linkedin" width="32" height="32" align="right" /></a>
	{/if}
	</hgroup>
	{description}
{/exp:channel:entries}