{exp:channel:entries channel="volunteers" status="open" limit="1" entry_id="{segment_3}"}
	<a href="#" class="volunteer-close">&nbsp;</a>
	<hgroup>
		<h1>{title}</h1>
	</hgroup>
	{description}
{/exp:channel:entries}