{exp:freeform:form form:class="form" notify="info@habitatdelco.org" email="yes" template="basic_form" return="contact/thank-you" collection="Homeowner Interest Form"}
<div class="row grid_5">
	<label class="label" for="name">Name:*</label>
	<input type="text" class="text" name="name" required="required" data-message="Name is required"/>
</div>
<div class="row grid_5">
	<label class="label" for="street1">Address Street 1:*</label>
	<input type="text" class="text" name="street1" required="required" data-message="Street Address is required"/>
</div>
<div class="row grid_4">
	<label class="label" for="city">City:*</label>
	<input type="text" class="text" name="city" required="required" data-message="City is required"/>
</div>
<div class="row grid_1">
	<label class="label" for="state">State:*</label>
	<select name="state" required="required" data-message=" State is required">
		<option value="">&ndash;&ndash;</option>
		{embed="include/states-options"}
	</select>
</div>
<div class="row grid_2">
	<label class="label" for="postalcode">Zip Code:*</label>
	<input type="text" class="text" name="postalcode" required="required" data-message="Zip code is required"/>
</div>
<div class="row grid_5">
	<label class="label" for="email">Email:*</label>
	<input type="email" class="text" name="email" required="required" data-message="Email Address is required"/>
</div>
<div class="row grid_4">
	<label class="label" for="phone1">Daytime Phone:*</label>
	<input type="text" class="text" name="phone1" required="required" data-message="Phone Number is required"/>
</div>
<div class="row grid_7">
	<label class="label" for="hear">How did you hear about us?</label>
	<select name="hear">
		<option value=""> Select </option>
		{embed="include/how-hear-options"}
	</select>
</div>
<div class="row grid_7">
	<label class="label" for="questions">Questions/Comments:</label>
	<textarea name="questions" class="txt-area"></textarea>
</div>
<div class="row grid_7">
<em>* Required fields</em>
</div>
<div class="row grid_8">
	<input type="submit" class="submit button" value="Submit"/>
</div>
{/exp:freeform:form} 