{exp:freeform:form form:class="form" notify="info@habitatdelco.org, habitatdelco@allwebcafe.com" email="yes" template="basic_form" return="contact/thank-you" collection="Contact Form"}
<div class="row grid_5">
	<label class="label" for="name">Name:*</label>
	<input type="text" class="text" name="name" required="required" data-message="Name is required"/>
</div>
<div class="row grid_5">
	<label class="label" for="email">Email:*</label>
	<input type="email" class="text" name="email" required="required" data-message="A valid Email is required"/>
</div>
<div class="row grid_5">
	<label class="label" for="phone1">Daytime Phone:*</label>
	<input type="text" class="text" name="phone1" required="required" data-message="Phone is required"/>
</div>
<div class="row grid_7">
	<label class="label" for="hear">How did you hear about us?</label>
	<select name="hear">
		<option value="">Select One...</option>
		<option>Search Engine</option>
		<option>Referral / Friend</option>
		<option>Fundrasier</option>
		<option>Sponsorship</option>
		<option>Other</option>
	</select>
</div>
<div class="row grid_7">
	<label class="label" for="questions">Questions/Comments:</label>
	<textarea name="questions" class="txt-area"></textarea>
</div>
<div class="row grid_7">
<em>* Required fields</em>
</div>
<div class="row grid_8">
	
	<input type="submit" class="submit button" value="Submit"/>
</div>
{/exp:freeform:form}