{exp:freeform:form form:class="form" notify="info@habitatdelco.org" email="yes" template="basic_form" return="contact/thank-you" collection="Partner With Us"}
<h2> Partner Information </h2>
<div class="row grid_4">
	<label class="label" for="name">Name:*</label>
	<input type="text" class="text" name="name" required="required" data-message="Name is required"/>
</div>
<div class="row grid_4">
	<label class="label" for="email">Contact Email:*</label>
	<input type="email" class="text" name="email" required="required" data-message="A valid Email is required"/>
</div>
<div class="row grid_4">
	<label class="label" for="phone">Contact Phone:*</label>
	<input type="text" class="text" name="phone1" required="required" data-message="Phone is required"/>
</div>
<div class="row grid_8">
	<label class="label" for="company">Company or Organization Name:*</label>
	<input type="text" class="text" name="company" required="required" data-message="Please tell us your company or organization name"/>
</div>
<div class="row grid_5">
	<label class="label" for="street1">Address Street 1:*</label>
	<input type="text" class="text" name="street1" required="required" data-message="Address is required" />
</div>
<div class="row grid_4">
	<label class="label" for="city">City:*</label>
	<input type="text" class="text" name="city" required="required" data-message="City is required"/>
</div>
<div class="row grid_1">
	<label class="label" for="state">State:*</label>
	<select name="state" required="required" data-message="State is required">
		<option value="">&ndash;&ndash;</option>
		{embed="include/states-options"}
	</select>
</div>
<div class="row grid_2">
	<label class="label" for="postalcode">Zip Code:*</label>
	<input type="text" class="text" name="postalcode" required="required" data-message="Zip Code is required"/>
</div>
<div class="row grid_10"><h2> Interests: </h2></div>
<div class="row grid_8">
<ul class="form-options">
	<li><label for="interests[]" class="ck clearrow"><input type="checkbox" name="interests[]" value="House Sponsor"/> House Sponsor</label></li>
	<li><label for="interests[]" class="ck clearrow"><input type="checkbox" name="interests[]" value="Event Sponsor"/> Event Sponsor</label></li>
	<li><label for="interests[]" class="ck clearrow"><input type="checkbox" name="interests[]" value="Product Donation"/> Product Donation</label></li>
	<li><label for="interests[]" class="ck clearrow"><input type="checkbox" name="interests[]" value="Team Building Day"/> Team Building Day</label></li>
</div>


<div class="row grid_7">
	<label class="label" for="hear">How did you hear about us?</label>
	<select name="hear">
		<option value=""> Select </option>
		{embed="include/how-hear-options"}
	</select>
</div>
<div class="row grid_7">
<em>* Required fields</em>
</div>
<div class="row grid_8">
	<input type="submit" class="submit button" value="Submit"/>
</div>
{/exp:freeform:form} 