{exp:freeform:form form:class="form" notify="info@habitatdelco.org" email="yes" template="basic_form" return="contact/thank-you" collection="Volunteer Your Time"}
<h2> Volunteer Information </h2>
<div class="row grid_4">
	<label class="label" for="name">Name:*</label>
	<input type="text" class="text" name="name" required="required" data-message="Name is required"/>
</div>
<div class="row grid_4">
	<label class="label" for="occupation">Occupation:*</label>
	<input type="text" class="text" name="occupation" required="required" data-message="Occupation is required"/>
</div>
<div class="row grid_5">
	<label class="label" for="street1">Address Street 1:*</label>
	<input type="text" class="text" name="street1" required="required" data-message="Address is required"/>
</div>
<div class="row grid_4">
	<label class="label" for="city">City:*</label>
	<input type="text" class="text" name="city" required="required" data-message="City is required"/>
</div>
<div class="row grid_1">
	<label class="label" for="state">State:*</label>
	<select name="state" required="required" data-message="State is required">
		<option value="">&ndash;&ndash;</option>
		{embed="include/states-options"}
	</select>
</div>
<div class="row grid_3">
	<label class="label" for="postalcode">Zip Code:*</label>
	<input type="text" class="text" name="postalcode" required="required" data-message="Zip Code is required"/>
</div>
<div class="row grid_5">
	<label class="label" for="email">Email:*</label>
	<input type="email" class="text" name="email" required="required" data-message="A valid Email is required"/>
</div>
<div class="row grid_4">
	<label class="label" for="phone1">Daytime Phone:*</label>
	<input type="text" class="text" name="phone1" required="required" data-message="Phone is required"/>
</div>
<div class="row grid_4">
	<label class="label" for="phone2">Work Phone:</label>
	<input type="text" class="text" name="phone2"/>
</div>

<h2> Group Information </h2>
<div class="row grid_2">
	<label for="individual" class="ck"><input type="radio" name="individual"/> Individual</label>
	<label for="group" class="ck"><input type="radio" name="individual"/> Group</label>
</div>
<div class="row grid_3 suffix_2">
	<label class="label" for="group_total">Number in Group:</label>
	<input type="text" class="text" name="group_total" />
{!--
	<select name="group_total">
		<option value="">&ndash;&ndash;</option>
	</select>
--}
</div>
<div class="row grid_5">
	<label class="label" for="group_name">Church or Group Name:</label>
	<input type="text" class="text" name="group_name"/>
</div>
<div class="row grid_5">
	<label class="label" for="school_name">Name of School (If Student):</label>
	<input type="text" class="text" name="school_name"/>
</div>

<div class="row grid_10"><h2>How Can You Help?</h2></div>
<div class="grid_9">
	<ul class="help">
		<li>
			<span class="number grid_1 alpha">1</span>
			<p class="grid_7 alpha">The ReStore sells gently used furniture and donated building supplies to raise funds for our mission.</p>
			<p class="grid_2 alpha"><strong>Are you available to:</strong></p>
			<div class="grid_5 border-left">
				<strong class="fk-lbl grid_3 alpha omega">help with pick-up of donations? </strong>
				<aside class="grid_2 alpha omega">
				<label class="rdo"><input type="radio" value="yes" name="pick_donations"> Yes</label>&nbsp;<label class="rdo"><input type="radio" value="no" name="pick_donations"> No</label>
				</aside>
				
				<strong class="fk-lbl grid_3 alpha omega">setup displays and help customers? </strong>
				<aside class="grid_2 alpha omega">
				<label class="rdo"><input type="radio" value="yes" name="setup_displays"> Yes</label>&nbsp;<label class="rdo"><input type="radio" value="no" name="setup_displays"> No</label>
				</aside>
			
			</div>
		</li>
		<li>
			<span class="number grid_1 alpha">2</span>
			<p class="grid_7 alpha">Construction skills are not necessary to volunteer on our build site but we are always looking for skilled individuals in any aspect of construction. Please list your skills, if any:</p>
			<textarea class="text-area grid_6 alpha omega" name="skills"></textarea>
		</li>
		<li>
			<span class="number grid_1 alpha">3</span>
			<p class="grid_7 alpha">Do you have experience that would be helpful in public relations, sales, marketing or promotional activities?</p>
			<aside class="grid_2 alpha omega">
				<label class="rdo"><input type="radio" value="yes" name="promo_exp"> Yes</label>&nbsp;<label class="rdo"><input type="radio" value="no" name="promo_exp"> No</label>
				</aside>
		</li>
				<li>
			<span class="number grid_1 alpha">4</span>
			<label for="no_exp"> <input type="checkbox" name="no_exp" /> No specialized experience. Call me to help wherever I am most needed. </label>
		</li>
	</ul>

</div>
<div class="row grid_7">
	<label class="label" for="availibility">Availibility:</label>
	<label for="saturdays" class="ck"><input type="checkbox" name="availability[]" value="Saturdays"/> Saturdays</label>
	<label for="weekends" class="ck"><input type="checkbox" name="availability[]" value="Weekdays"/> Weekdays</label>
	<label for="Evenings" class="ck"><input type="checkbox" name="availability[]" value="Evenings"/> Evenings</label>
</div>
<div class="row grid_7">
	<label class="label" for="hear">How did you hear about us?</label>
	<select name="hear">
		<option value=""> Select </option>
		{embed="include/how-hear-options"}
	</select>
</div>
<div class="row grid_7">
<em>* Required fields</em>
</div>
<div class="row grid_8">
	<input type="submit" class="submit button" value="Submit"/>
</div>
{/exp:freeform:form} 